Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.spp
*.reapeaks
*.assbin
*.tx
C:\Users\zhouc\Documents\Unreal Projects\GitProjectGoat\Content\Meadow_Environment_Set\Maps\Meadow_Environment_Set_Map_Overview_Map_BuiltData.uasset
/Content/Meadow_Environment_Set/Maps/Meadow_Environment_Set_Map_Overview_Map_BuiltData.uasset
